*.sw*
*.*~
*.in
*.php
*.pm
*.py
*_wrap.*
*.gcov
*.gcno
*.gcda
*.o
*.lo
*.la
.idea
libhttpserver.iml
build/*
aclocal.m4
autom4te.cache/
config.guess
config.sub
configure
depcomp
install-sh
ltmain.sh
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
missing
src/core
src/http_request_builder.cpp
src/httpserver/core
src/httpserver/http_request_builder.hpp
src/.deps/
src/.libs/
test/Test
test/core
test/err
test/test.txt
Makefile
src/Makefile
stamp-h1
test-driver
test/.deps/
test/Makefile
compile
config.h
config.log
config.status
debian/changelog
debian/control
debian/copyright
debian/libhttpserver-dev.install
debian/libhttpserver.install
debian/rules
redhat/libhttpserver.SPEC
libhttpserver.pc
libtool
